.body{
    background-color: black;
    padding: 30px;
    overflow: hidden;
}

.input{
    border-radius: 20px;
    background-color: red;
    color: white;
    padding-left: 25px;
    border: none;
    font-size: 20px;   
    width: 565px;
}

.scrollable-container{
    width: 565px;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 30px;
    border: 2px solid red;
}

/* scrolber */
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-track{
    background: red;
}
::-webkit-scrollbar-thumb{
    background: yellowgreen;
}
#resultsCantainer{
    width: 60%;
}
.country-list div:hover{
    color: red;
}
#count{
    background-color: black;
    border: 2px double red;
    overflow-y: auto;
    max-height: 400px;
    padding-top: 15px;
}

@media (max-width: 759px) {
    .scrollable-container{
        width: 345px;
    }
    .search{
        width: 345px;
    }
    .input{
        width: 345px;
    }
    
}
